.container-fluid{
    padding: 0;
}

.sidebar{
    background-color: rgb(26, 26, 39);
    min-height: 100vh;
    padding: 0;
}

.contentArea h1{
    margin-top: 1em;
}

.mainHeading{
    color: white;
    margin-left: 20px;
    /* font-size: 3rem; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.sidebarLinks{
    padding-left: 0;
}

.sidebarLinks li{
    list-style-type: none;
    margin-bottom: 1em;
    width: 100%;
    /* border-bottom: 1px solid #eee; */
    padding: 8px;
    /* max-width: 250px; */
    color: white;
    cursor: pointer;
    padding: 16px;
    padding-left: 32px;
    border-radius: 10px;
}

.sidebarLinks li:hover{
    background-color: rgb(33, 45, 55);
}

.sidebarLinks li.selected{
    background-color: rgb(33, 45, 55);
}

.listIcons{
    font-size: 22px;
    padding-right: 12px;
}

#spinner {
    width: 100px; 
    height: 100px;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 50px;
}

.heroSubtitle {
    text-align: center;
}

span.symbol {
    font-weight: 400 ;
}

table{
    border-spacing: 0 1em;
}

tr{
    height: 75px;
}

#firstRow{
    border-bottom: 2px solid #eee;
}

#firstRow th{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.containerCards h1 {
    font-size: 1.5em;
}

.containerCards h2 {
    font-size: 1.25em;
}

.containerCards h1, .containerCards h2, .containerCards p {
    font-family: 'Red Hat Text', sans-serif;
    color: #303030;
}

.containerCards {
    display: flex;
    justify-content: center;
}


.containerCards cards {
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerCards .btc, .containerCards .xrp, .containerCards .ethereum {
    display: grid;
    max-width: 300px;
    min-width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 60px) 1fr;
    grid-template: 
        "info"
        "chart";
    border-radius: 30px;
}

.containerCards .btc {
    box-shadow: 10px 10px 20px 1px rgba(247,147,26,.15);
}

.containerCards .xrp {
    box-shadow: 10px 10px 20px 1px rgba(46,49,72,.15);
}

.containerCards .ethereum {
    box-shadow: 10px 10px 20px 1px rgba(78,56,216,.15);
}

.containerCards .asset-info {
    grid-area: info;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.containerCards .title {
    display: inline-flex;
}

.containerCards card h1 {
    margin-left: 10px;
}


#btcChart,
#xrpChart,
#ethereumChart {
    grid-area: chart;
    border-radius: 0px 0px 30px 30px;
    margin-top: auto;
}

